aiofiles
aiohttp
asyncio
apscheduler
beautifulsoup4
bard
pornhub-api
deepai
dnspython
ffmpeg-python
git+https://github.com/AsmSafone/SafoneAPI
git+https://github.com/Qewertyy/LexicaAPI
git+https://github.com/yt-dlp/yt-dlp
gitpython
gpytranslate
gradio_client
hachoir
heroku3
httpx
motor
ntgcalls
openai
pillow
psutil
py-tgcalls==1.2.3
pykeyboard
git+https://github.com/KurimuzonAkuma/pyrogram@dev
python-dotenv
pyyaml
requests
replicate
speedtest-cli
spotipy
telegraph
tgcrypto
unidecode
urllib3
youtube-search
youtube-search-python