aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
git+https://github.com/AsmSafone/SafoneAPI
gitpython
gpytranslate
hachoir
heroku3
lexica-api
motor
ntgcalls
openai
pillow
psutil
py-tgcalls
pykeyboard
pyrogram
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
unidecode
urllib3
youtube-search
youtube-search-python
yt-dlp
