aiofiles
aiohttp
asyncio
apscheduler
beautifulsoup4
bard
pornhub-api
deepai
dnspython
ffmpeg-python
git+https://github.com/AsmSafone/SafoneAPI
#git+https://github.com/Qewertyy/LexicaAPI
lexica-api==1.5.6
git+https://github.com/yt-dlp/yt-dlp
#safoneapi
#lexica-api
#yt-dlp
gitpython
gpytranslate
gradio_client
hachoir
heroku3
httpx[http2]
motor
ntgcalls==1.1.2
openai
pillow
psutil
#git+https://github.com/pytgcalls/pytgcalls
py-tgcalls==1.2.9
pykeyboard
#pyrogram
https://github.com/KurimuzonAkuma/pyrogram/archive/dev.zip
python-dotenv
pyyaml
requests
replicate
speedtest-cli
spotipy
telegraph
tgcrypto
unidecode
urllib3
#youtube-search
#youtube-search-python
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master

